body{
	min-width: 400px;
}
.intro-header .container{
	min-height: 400px;
}
.intro-header {
    margin-top: 60px;
}
table.data-table{
	margin-top: 10px;
}
table.data-table th, table.data-table td.action, table.data-table td.status{
	text-align: center;
}