body{
	width: 500px;
}
.intro-header .container{
	min-height: 400px;
}
.intro-header {
    margin-top: 60px;
    overflow: inherit;
}
.tab-content {
    margin-top: 10px;
}
table.data-table th, table.data-table td.action, table.data-table td.status{
	text-align: center;
}
table.data-table .btn-success{
	margin-top: 4px;
}
td.link {
    width: 340px;
    word-break: break-all;
}

/*start loading*/
.btn-loading {
    position: fixed;
    top: 30%;
    left: 49%;
    z-index: 10001;
    color: #FBF8D7;
    font-size: 40px;
}
#block{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0px;
    opacity: 0.3;
    z-index: 10000;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
/*end loading*/